.jumbotron {
    // background-image: url("https://res.cloudinary.com/musicandcolour/image/upload/c_fill,h_450,w_2000,x_2000,y_450/v1541171709/home_hjzpjv.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}
