.home-content h4{
    color: #ef277c;
    font-weight: bold;
    font-size: 30px;
}
.home-content .row
{
    margin-top: 10%;
    margin-bottom: 10%;
}

.home-content__bullet {
    height: 30px;
    margin-right: 8px;
    width: 30px;
}
.how-img
{
    text-align: center;
}
.how-img img{
    width: 35%;
}
